{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blogs</title>
    {% comment %} don't have to add the tailwind cdn in every {% endcomment %}

    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  {% if debug %}
  <script src="http://localhost:8000/__reload__/reload.js"></script>
{% endif %}

  <body class="bg-gray-50 text-gray-800 font-sans">
    <header class="bg-white shadow">
      <div
        class="max-w-4xl mx-auto px-4 py-4 flex justify-between items-center"
      >
        <h1 class="text-3xl font-bold text-red-600">
          <a href="/">Blog</a>
        </h1>

        <div class="flex items-center space-x-4">
          {% if user.is_authenticated %}
          <a
            href="{% url 'post_new'%}"
            class="text-sm text-green-600 hover:underline flex items-center gap-1"
          >
            {% include "./icons/file-earmark-plus.svg" %} New Post
          </a>
          <p class="text-sm">
            Welcome, <span class="font-medium">{{ user.username }}</span>!

            <form method="POST" action="{% url "logout" %}" style="display: inline;" >
              {% csrf_token %}
              <button class="btn btn-link" style="border: none; background: none;">
                Logout
              </button>
            </form>
          </p>
          {% else %}
          <a href="{% url "login" %}" class="text-sm text-blue-600 hover:underline">Login </a>
          {% endif %}
        </div>
      </div>
    </header>

    <main class="max-w-4xl mx-auto px-4 py-6">
      <div class="bg-white shadow-md rounded-xl p-6">
        {% block content %}
        {% if post.image %}
  <img src="{{ post.image.url }}" alt="Post image" class="img-fluid" style="max-width: 300px;" />
{% endif %}

        <!-- Content from other templates will appear here -->
        {% endblock %}
      </div>
    </main>
  </body>
</html>

{% comment %} it is a template that is followed by other page like post_detail
{% endcomment %}
